h1 {
    background-image: url(./pattern.webp);
    font-family: helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}
body {
    font-family: helvetica;
}
header {
    font-size: 32px;
    font-weight: bold;
    color: white;
}
h5 {
    font-weight: bold;
    font-size: 25px;
}
.price {
    color: blue;
    font-weight: bold;
}
#brushes {
    background-color: mediumspringgreen;
}
#frames {
    background-color: lightcoral;
}
#paint {
    background-color: skyblue;
}